<!DOCTYPE HTML>
<html>
<head>
<style>
 table, th, td {
    border: 1px solid purple;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #computers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#computers tr:nth-child(even){background-color: #f2f2f2;}

#computers tr:hover {background-color: #ddd;}

#computers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: red;
}
</style>
</head>
</html>